<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865830756624-eks09vcn94u9v8l8mqtg4sfbc4rlpv1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865830756624-eks09vcn94u9v8l8mqtg4sfbc4rlpv1t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>865830756624-nm1g8e1f7lk8tu4ckf8vfrbs3lfkd8gk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFdNMfNpASvuVViGHB7lL4dMtgwLKWip4</string>
	<key>GCM_SENDER_ID</key>
	<string>865830756624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coldex.podsquad</string>
	<key>PROJECT_ID</key>
	<string>podsquad-app</string>
	<key>STORAGE_BUCKET</key>
	<string>podsquad-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865830756624:ios:ef57deab24a52696248595</string>
	<key>DATABASE_URL</key>
	<string>https://podsquad-app.firebaseio.com</string>
</dict>
</plist>